<header>
  <%= image_tag("logoP1.png", :alt => "Agenda", :class => "round") %>
  <nav class="round">
       <ul>
         <li><%= link_to "Inicio", '#'%> </li>
         <li><%= link_to "Ayuda", '#'%> </li>
         <li><%= link_to "Sing in", '#'%> </li>

       </ul>
  </nav>
</header>